<div class="container p-3 my-3">
  <div>
    <h1>Stupid Coaching</h1>
    <p>Ask your coach anything:</p>
  </div>
  <div class="d-flex justify-content-between">
    <form action="/answer" class="form-inline w-100">
      <input type="text" class="form-control flex-grow-1" name="answer">
      <button type="submit" class="btn btn-primary mb-2">Ask</button>
    </form>
  </div>
</div>